.lock-screen-back {
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 0 0 #667aa6 inset;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 3s;
}
.main {
  position: absolute;
  width: 100%;
  height: 100%;
  .unlock-con {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 11000;
  }
  .sidebar-menu-con {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 21;
    transition: width 0.3s;
    background: #000c17;
  }
  .layout-text {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
  }
  .main-hide-text .layout-text {
    display: none;
  }
  &-content-container {
    position: relative;
  }
  &-header-con {
    box-sizing: border-box;
    position: fixed;
    display: block;
    padding-left: 200px;
    width: 100%;
    height: 100px;
    z-index: 20;
    box-shadow: 0 2px 1px 1px rgba(100, 100, 100, 0.1);
    transition: padding 0.3s;
  }
  &-menu-left {
    background: #464c5b;
    height: 100%;
  }
  //.tags-con {
    //height: 40px;
    //z-index: -1;
    //overflow: hidden;
    //background: #f0f0f0;
    //line-height: 40px;
    //padding-left: 12px;
    //display: flex;
    //justify-content: space-between;
    //button {
    //  border-radius: 20px;
    //  height: 24px;
    //  line-height: 12px;
    //  width: 80px;
    //  background-color: #ffffff;
    //  margin-right: 20px;
    //}
  //}
  .tags-con {
    height: 40px;
    z-index: -1;
    overflow: hidden;
    background: #f0f0f0;
    .tags-outer-scroll-con {
      position: relative;
      box-sizing: border-box;
      padding-right: 120px;
      width: 100%;
      height: 100%;
      .tags-inner-scroll-body {
        position: absolute;
        padding: 2px 10px;
        overflow: visible;
        white-space: nowrap;
        transition: left 0.3s ease;
      }
      .close-all-tag-con {
        position: absolute;
        right: 0;
        top: 0;
        box-sizing: border-box;
        padding-top: 8px;
        text-align: center;
        width: 110px;
        height: 100%;
        background: white;
        box-shadow: -3px 0 15px 3px rgba(0, 0, 0, 0.1);
        z-index: 10;
      }
    }
  }
  &-header {
    height: 65px;
    background: #fff;
    box-shadow: 0 2px 1px 1px rgba(100, 100, 100, 0.1);
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 180px;
    z-index: 11;
    .icon-header {
      .iconfont {
        font-size: 30px;
        line-height: 64px;
      }
    }
    .header-avator-con {
      position: absolute;
      right: 20px;
      top: 27%;
      button {
        height: 30px;
        border-radius:26px;
        border:1px solid;
        width: 110px;
        color: #fff;
        background:linear-gradient(180deg, rgb(43, 129, 243) 0%, rgb(6, 101, 162) 76%, rgb(6, 73, 156) 100%);
        box-shadow:0 3px 5px 0 rgba(6, 101, 162, 0.34);
      }
    }
  }
  .single-page-con {
    position: absolute;
    top: 116px;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: #f0f0f0;
    z-index: 1;
    transition: left 0.3s;
    .single-page {
      margin: 10px;
    }
  }
  &-copy {
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
  }
}
.taglist-moving-animation-move {
  transition: transform 0.3s;
}
.logo-con {
  padding: 15px 15px 10px;
  text-align: center;
  img {
    height: 32px;
    width: 90px;
  }
}
.modify-pwd {
  height: 100%;
  position: absolute;
  right: 100px;
  line-height: 60px;
  z-index: 99;
  .ivu-btn-text {
    color: #2d8cf0;
    &:focus {
      box-shadow: none;
    }
  }
}

.member-list-search {
  height: 100px;
  background-color: #ffffff;
  .m-search-top {
    display: flex;
    justify-content: space-between;
    background-color:#9d8f40;
    padding: 12px;
    color: #fff;
    &-left {
      display: flex;
      p {
        padding-right: 20px;
      }
    }
  }
  .m-search-btn {
    display: flex;
    padding-top: 7px;
    padding-left: 12px;
    .btn {
      margin-right: 20px;
    }
  }
}
.page {
  display: flex;
  justify-content: flex-end;
}
.ivu-shrinkable-menu,
.ivu-menu-dark,
.ivu-menu-opened{
  background-color:transparent !important;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {
  background-color: #000c17;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover {
  background-color: #2d8cf0 !important;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title {
  color: #fff;
}

.iconfont:before {
  font-size: 20px;
  padding-right: 4px;
}

.ivu-page-item-active {
  border-color: #2d8cf0;
  background-color: #2d8cf0;
}

.ivu-layout-sider,
.ivu-layout-sider-zero-width-trigger,
.ivu-menu,
.ivu-menu-dark {
  background-color: #001529;
}